 # 忽略所有 .log 文件
*.log
*.ts
*.pyc
*.pyo

# 忽略特定文件夹
__pycache__/
.vscode/
auto_report_cache/
app/.mypy_cache/
app/cache/
cache/
build/
dist/
# 忽略临时文件夹（递归匹配所有子目录中的 tmp 文件夹）
**/tmp
**/cache
**/localtest


# 忽略特定文件
.env
.DS_Store
auto_report_CN.py
main_test.py

# 反向规则（不忽略某个子目录）
!important.log
